<div class="blob-bg">
  <div
    class="shape bg-purple-400 w-96 h-96 rounded-full top-0 left-0 mix-blend-multiply filter blur-xl opacity-30 animate-blob"
  ></div>
  <div
    class="shape bg-yellow-400 w-96 h-96 rounded-full top-0 right-0 mix-blend-multiply filter blur-xl opacity-30 animate-blob animation-delay-2000"
  ></div>
  <div
    class="shape bg-pink-400 w-96 h-96 rounded-full -bottom-8 left-20 mix-blend-multiply filter blur-xl opacity-30 animate-blob animation-delay-4000"
  ></div>
</div>
